#action-popup #actions {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

/* Colors */
#action-popup #colors, #target-popup #colors {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}