#action-popup #actions {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

/* Colors */
.colors {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Toolsbox */
#toolbox {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 2px);
}